<p id="notice"><%= notice %></p>
<script type="text/javascript">
PagSeguroDirectPayment.setSessionId('<%= @pagseguro_session_id %>');
var hash = PagSeguroDirectPayment.getSenderHash();

</script>
  <h3><%= @user.complete_name %></h3>
  <table class="table">
    <tr>
      <td><b>Usuário:</b> <%= @user.complete_name %></td>
    </tr>
    <tr>
      <td><b>E-mail:</b> <%= @user.email %></td>
    </tr>
    <tr>
      <td><b>Membro desde:</b> <%= @user.created_at.strftime(" %d/%m/%Y ") %></td>
    </tr>
  </table>
  <div class="course-nav-wrapper">
  <div class="wrapper-inside clearfix">
    <ul class="course-nav-list"></ul>
    <% @courses.each do |course| %>
    <li class="<%= 'active' if params['course_id'].to_i== course.id %>">
      <%= link_to new_registration_path(course_id: course.id), class: "ruby" do %>
      <div class="course-name">
        <%= course.name %>
      </div>
      <button class="btn" style="color: white;background: rgb(242, 118, 73);">Register ($#{course.price} #{("per " + course.period) if course.recurring})</button>
      <div class="course-arrow"></div>
      <% end %>
    </li>
    <% end %>
  </div>
</div>
</div>
