<!DOCTYPE html>
<html>
<head>
  <title>MeuCarroRails</title>
  <%= stylesheet_link_tag 'application', 'bootstrap.min', 'animate.min',
    'font-awesome.min', 'lightbox', 'main', 'responsive', 'preset', media: 'all',
    'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track', 'jquery',
    'bootstrap.min', 'jquery.inview.min', 'wow.min', 'mousescroll',
    'smoothscroll', 'jquery.countTo', 'lightbox.min', 'btnSignUp',
    'main' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
